.reveal small.pull-right{
    float:right;
    margin-right: 140px;
}

.reveal section .orange {
    color: #ff4500;
    font-weight: bold;
    font-size: 80px;
    font-family: sans-serif;
}

.question h2, .question p:nth-child(2), .question p:nth-child(3) {
    color: orange;
}

.answer h2, .answer p:first-of-type {
    color: #9acd32;
}

.help-js {
    color: rgb(164, 218, 26);
}