<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>AngularJS Hands On</title>

		<meta name="description" content="Présentation AngularJS par Thierry LAU">
		<meta name="author" content="Thierry LAU">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
        <link rel="stylesheet" href="css/angular.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

                <section>
                    <section>
                        <img src="img/angularjs.png" height="300px" alt="AngularJS">
                        <h3>Transcendez vos développements Web avec AngularJS</h3>
                        <h4>- Hands On -</h4>
                        <p>
                            <small><a href="http://gplus.to/lauthierry">Thierry Lau</a> / <a href="https://twitter.com/laut3rry">@laut3rry</a></small>
                        </p>
                        <p>
                            <small><a href="https://plus.google.com/113593809529774542214/posts">Sébastien Letélié</a> / <a href="https://twitter.com/sebmade‎">@sebmade</a></small>
                        </p>
                        <p>
                            <small><a href="https://plus.google.com/113505929077720042958">Thierry Chatel</a> / <a href="https://twitter.com/ThierryChatel‎">@ThierryChatel</a></small>
                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Pré-requis</h2>
                        <ul>
                            <li>un client git pour récupérer le code source</li>
                            <li class="fragment">node.js pour lancer l'application</li>
                            <li class="fragment">un navigateur Chrome, Firefox ou IE9+</li>
                            <li class="fragment">votre éditeur de code favori</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Récupérer les slides</h2>
                        <a href="http://lauterry.github.com/slides-handson-angular">http://lauterry.github.com/slides-handson-angular</a>
                    </section>
                    <section>
                        <h2>Récupérer le code</h2>
                        <a href="https://github.com/lauterry/angularmovie">git clone https://github.com/lauterry/angularmovie.git</a>
                        <p>ou</p>
                        <p><a href="https://drive.google.com/folderview?id=0B_3kwg7TeB50bFZnUXVTeUNtb2M&usp=sharing">Récupérer à partir de Google Drive</a></p>
                    </section>
                </section>

                <section>
                    <section>
                        <h1>Déroulement</h1>
                    </section>
                    <section>
                        <p>Présentation des concepts clé d'AngularJS ...</p>
                        <p class="fragment">... et 14 exercices pour les mettre en pratique</p>
                    </section>
                    <section>
                        <h2>Simples pages HTML statiques</h2>
                        <img src="img/from.jpg" alt="Simples pages HTML statiques"/>
                    </section>
                    <section>
                        <h2>Application Web Moderne</h2>
                        <img src="img/to.jpg" alt="Application Web Moderne"/>
                    </section>
                    <section>
                        <ol>
                            <h2>Pour chaque concept :</h2>
                            <li class="fragment">Présentation</li>
                            <li class="fragment">Enoncé de l'exercice</li>
                            <li class="fragment">A vous de jouer !</li>
                            <li class="fragment">Live coding de la réponse + explications</li>
                        </ol>
                    </section>
                    <section>
                        <h2>A la traine ?</h2>
                        <p class="fragment">14 exos = 14 branches git</p>
                        <p class="fragment"><code>git checkout -f step-#</code></p>
                    </section>
                    <section>
                        <h2>C'est parti !</h2>
                        <p><code>git checkout -f step-0</code></p>
                    </section>
                </section>

                <section>
                    <section>
                        <h1>Initialisation et Double Data Binding</h1>
                    </section>
                    <section>
                        <p>Charger angularjs dans votre page ...</p>
                        <pre><code class="html">
&lt;html&gt;
    &lt;head&gt;
        &lt;script src="path/to/angular.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;

    &lt;/body&gt;
&lt;/html&gt;
                        </code></pre>
                    </section>
                    <section>
                        <p>... le rendre actif sur celle-ci ...</p>
                        <pre><code class="html">
&lt;html ng-app&gt;
    &lt;head&gt;
        &lt;script src="path/to/angular.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;

    &lt;/body&gt;
&lt;/html&gt;
                        </code></pre>
                    </section>
                    <section>
                        <p>... et vérifier que ca marche</p>
                        <pre><code class="html">
&lt;html ng-app&gt;
    &lt;head&gt;
        &lt;script src="path/to/angular.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
    {{ 1 + 1 }}
    &lt;/body&gt;
&lt;/html&gt;
                        </code></pre>
                    </section>

                    <section>
                        <div ng-app="angularRevealApp"  ng-controller="greetingController">
                            <p>
                                <input type="text" ng-model="greeting">
                            </p>
                            <p>Bonjour {{greeting}}</p>
                        </div>
                    </section>

                    <section>
                        <h3>JavaScript</h3>
                            <pre><code class="html">
&lt;html&gt;
    Bonjour &lt;span id="name"&gt;&lt;/span&gt;
    &lt;input type="text"/&gt;
&lt;/html&gt;
                            </code></pre>
                            <pre><code class="javascript">
window.onload = function(){

    var span = document.getElementById('name');
    var input = document.getElementsByTagName('input')[0];

    input.onkeyup = function(){
        if (span.textContent || span.textContent === "") {
            span.textContent = input.value;
        } else if(span.innerText || span.innerText === "") { // IE
            span.innerText = input.value;
        }
    };
};
                            </code></pre>

                    </section>

                    <section>
                        <h3>jQuery</h3>
                        <pre><code class="html">
&lt;html&gt;
    Bonjour &lt;span id="name"&gt;&lt;/span&gt;
    &lt;input type="text"/&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
$(document).ready(function() {
    var $input = $('input');
    var $span = $('#name');

    $input.keyup(function (event) {
        $span.text(event.target.value);
    });
});
                        </code></pre>
                    </section>

                    <section>
                        <h2>AngularJS</h2>
                        <pre><code class="html" contenteditable>
&lt;html ng-app&gt;
    &lt;div&gt;
        &lt;input type="text" ng-model="name"&gt;
        &lt;p&gt;Bonjour {{name}}&lt;/p&gt;
    &lt;/div&gt;
&lt;/html&gt;
                        </code></pre>
                    </section>

                    <section class="question">
                        <h2>Exercice 1 : Saluez qui vous voulez !</h2>
                        <p>Changer dynamiquement le nom par le contenu d'un champ de saisie</p>
                        <ul>
                            <li>Pensez à initialiser AngularJs dans la page <code>index.html</code></li>
                            <li>La librairie angularjs est disponible dans le dossier <code>js/lib</code></li>
                            <li>Rajouter un champ de saisie</li>
                            <li>Nommons par exemple la variable <code>{{name}}</code></li>
                            <li class="fragment warning">Remplacer le titre AngularMovie par <code>{{name}}</code></li>
                        </ul>
                    </section>

                </section>

                <section>
                    <section>
                        <h1>Controller et Scope</h1>
                    </section>
                    <section>
                        <pre><code class="html" contenteditable>
&lt;html ng-app&gt;
    &lt;div ng-controller="myController"&gt;
        &lt;input type="text" ng-model="name"&gt;
        &lt;p&gt;Hello {{name}}&lt;/p&gt;
    &lt;/div&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
function myController($scope){
    $scope.name = 'World';
}
                        </code></pre>
                    </section>

                    <section class="question">
                        <h2>Exercice 2 : Importance du Scope</h2>
                        <p>
                            Gardez les mêmes variables <code>{{name}}</code> mais leur affecter des valeurs différentes
                        </p>
                        <ul>
                            <li>Créez un fichier <code>app/js/app.js</code> et y écrire vos 2 controllers</li>
                            <li>Attention à l'endroit où vous déclarez vos controllers dans la page HTML</li>
                        </ul>
                    </section>

                    <section>
                        <img style="height:450px" src="img/scope0.png" alt=""/>
                        <img src="img/scope4.png" alt=""/>
                    </section>

                    <section>
                        <img style="height:450px" src="img/scope1.jpg" alt=""/>
                        <img src="img/scope2.png" alt=""/>
                    </section>

                    <section>
                        <h2>Module & Namespacing</h2>
                        <pre><code class="html" contenteditable>
&lt;html ng-app="myApp"&gt;
    &lt;div ng-controller="myController"&gt;
        &lt;input type="text" ng-model="greeting"&gt;
        &lt;p&gt;{{greeting}}&lt;/p&gt;
    &lt;/div&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
var myApp = angular.module('myApp', []);
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
myApp.controller('myController', function($scope){
    $scope.greeting = 'Hello World';
});
                        </code></pre>
                    </section>

                    <section class="answer">
                        <h2>Solution</h2>
                        <p><code>git checkout -f step-1</code></p>
                    </section>

                </section>


                <section>
                    <section>
                        <h1>Templating avancée</h1>
                    </section>
                    <section>
                        <h2>ng-repeat</h2>
                        <p>Itère dans une collection et génére un template par élément</p>
                        <pre><code class="html" contenteditable>
&lt;ul&gt;
    &lt;li ng-repeat="fruit in fruits"&gt;
        /* répétition du template li par élément fruit */
        {{ fruit.name }}
    &lt;/li&gt;
&lt;/ul&gt;
                        </code></pre>
                    </section>
                    <section class="question">
                        <h2>Exercice 3 : ng-répéter les films</h2>
                        <p>Afficher la liste des films en utilisant la directive ng-repeat</p>
                        <ul>
                            <li>AngularJs est déjà actif dans la page <code>movie-list.html</code></li>
                            <li>Créer un nouveau contrôleur nommé <code>moviesController</code> pour la liste des films</li>
                            <li>Créer une collection de films dans le contrôleur. Aidez vous de la slide suivante !</li>
                            <li>Pensez à rendre dynamique le nombre de films affichés</li>
                            <li class="help-js">JS : accéder aux propriétés d'un objet avec la notation pointée (ex : car.color)</li>
                        </ul>

                    </section>

                    <section>
                        <pre><code class="javascript" contenteditable>
[
    {
        "id":1,
        "title":"Avatar",
        "releaseYear":"2010",
        "poster":"img/avatar.jpg",
        "directors":"James Cameron",
        "actors":"Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang, Michelle Rodriguez",
        "synopsis":"Sur la lointaine planète de Pandora, Jake Sully, un héros malgré lui, se lance dans une quête de rédemption, de découverte, d'amour inattendu, dont l'issue sera un combat héroïque pour sauver toute une civilisation.",
        "rate":"3"
    },
    {
        "id":2,
        "title":"Seigneur des Anneaux : La Communauté de l'Anneau",
        "releaseYear":"2003",
        "poster":"img/seigneurdesanneaux1.jpg",
        "directors":"Peter Jackson",
        "actors":"Elijah Wood, Sean Astin, Ian McKellen, Sala Baker, Viggo Mortensen",
        "synopsis":"Frodon le Hobbit hérite de l'Anneau Unique, un instrument de pouvoir absoluqui permettrait à Sauron, le Seigneur des ténèbres, de régner sur la Terre du Milieu. Commence alors un vaste périple visant à la destruction de l'objet.",
        "rate":"5"
    },
    {
        "id":3,
        "title":"The Grudge",
        "releaseYear":"2004",
        "poster":"img/thegrudge.jpg",
        "directors":"Takashi Shimizu",
        "actors":"Sarah Michelle Gellar, Jason Behr, Clea DuVall, Kadee Strickland, Bill Pullman",
        "synopsis":"Dans ce qui paraît être une paisible maison de Tokyo se cache un épouvantable fléau. Quiconque franchit le seuil de la demeure est aussitôt frappé par une malédiction qui ne tardera pas à le tuer dans un sentiment d'indicible rage...",
        "rate":"4"
    },
    {
        "id":4,
        "title":"Yip Man 2",
        "releaseYear":"2010",
        "poster":"img/yipman.jpg",
        "directors":"Wilson Yip",
        "actors":"Donnie Yen, Sammo Hung Kam-Bo, Simon Yam, Lynn Hung, Xiaoming Huang",
        "synopsis":"Film biographique sur la vie de Ip Man, pionnier du Wing Chun et maitre de Bruce Lee.",
        "rate":"5"
    }
]
                        </code></pre>
                    </section>

                    <section class="answer">
                        <h2>Solution</h2>
                        <p><code>git checkout -f step-2</code></p>
                    </section>

                </section>


            <section>
                <section>
                    <h1>Gestion des évènements</h1>
                </section>

                <section>
                    <h2>ng-click</h2>
                    <pre><code class="html" contenteditable>
&lt;li ng-click="faireUnTruc(arg1, arg2, ...)"&gt;&lt;/li&gt;
                    </code></pre>
                    <pre><code class="javascript" contenteditable>
function myController($scope){
    $scope.faireUnTruc = function(arg1, arg2, ...){
        /* faire un truc */
    };
}
                    </code></pre>
                </section>

                <section>
                    <p><code>git checkout -f step-3</code></p>
                    <p class="fragment">Ajout d'un modal Twitter Bootstrap</p>
                </section>

                <section class="question">
                    <h2>Exercice 4 : Gérer un click</h2>
                    <p>Afficher une <code>window.alert()</code> avec quelques infos du films saisies dans le formulaire</p>
                    <ul>
                        <li>Créer un nouveau controller nommé <code>movieFormController</code> pour gérer le formulaire</li>
                        <li>N'oubliez pas de binder les champs de saisies au <code>$scope</code></li>
                    </ul>
                </section>

                <section class="question">
                    <h2>Exercice 5 : Ajouter un film dans la liste</h2>
                    <p>Ajouter un film dans la liste des films et l'afficher dans la page</p>
                    <ul>
                        <li>Pensez à la hiérarchie des <code>$scope</code></li>
                        <li>Surveillez la position de vos directives ng-controller</li>
                        <li>Pensez à réinitialiser le formulaire après chaque film rajouté</li>
                    </ul>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-3-solution</code></p>
                </section>

            </section>

            <section>
                <section>
                    <h1>Propagation des évènements <code>$scope</code></h1>
                </section>
                <section>
                    <p class="fragment">Un évènement peut être "diffusé" aux <code>$scope</code> enfants ...</p>
                    <pre class="fragment"><code class="javascript" contenteditable>
$scope.$broadcast('myEvent', param1, param2, ...);
                    </code></pre>
                    <p class="fragment">... ou "émis" aux <code>$scope</code> parents</p>
                    <pre class="fragment"><code class="javascript" contenteditable>
$scope.$emit('anotherEvent', param1, param2, ...);
                    </code></pre>
                    <p class="fragment">L'écoute des évènements se fait comme suit : </p>
                    <pre class="fragment"><code class="javascript" contenteditable>
$scope.$on('yetAnotherEvent', function(event, param1, param2, ...){
    console.log(param1);
});
                    </code></pre>
                </section>

                <section class="question">
                    <h2>Exercice 6 : Ajouter un film dans la liste (autre solution)</h2>
                    <p>Ajouter un film dans la liste des films et l'afficher dans la page en utilisant les évènements du <code>scope</code></p>
                    <p>$emit ou $broadcast ?</p>
                    <p></p>
                    <ul>
                        <li>Cette solution peut remplacer celle de l'exercice 5</li>
                    </ul>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-3-scope-event</code></p>
                </section>

            </section>

                <section>
                    <section>
                        <h1>XHR & Injection de dépendances</h1>
                    </section>
                    <section>
                        <p>Pour effectuer des appels XHR, Angular dispose du service <code>$http</code> ...</p>
                        <p>... injectable comme le <code>$scope</code></p>
                        <pre><code class="javascript" contenteditable>
function myController($scope, $http){

};
                        </code></pre>
                    </section>

                    <section>
                        <p>Usages</p>
                        <pre><code class="javascript" contenteditable>
$http.get(url, options)
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
$http.post(url, data, options)
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
$http.put(url, data, options)
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
$http.delete(url, options)
                        </code></pre>
                    </section>


                    <section>
                        <p>Gérer les retours</p>
                        <pre><code class="javascript" contenteditable>
$http.get(url, options)
    .success(function(data, status, headers, config){
        /* do something */
    })
    .error(function(data, status, headers, config){
        /* handle error */
    });
                        </code></pre>
                    </section>

                    <section class="question">
                        <h2>Exercice 6 : Fini les données en dur.</h2>
                        <p>Récupérer les films à partir du serveur. Idem pour l'ajout de film</p>
                        <ul>
                            <li><code>GET     /server/api/movies</code></li>
                            <li><code>POST    /server/api/movies</code></li>
                            <li>Attention au format du JSON reçu</li>
                        </ul>
                    </section>

                    <section class="answer">
                        <h2>Solution</h2>
                        <p><code>git checkout -f step-4</code></p>
                    </section>

                </section>

            <section>
                <section>
                    <h1>Navigation côté client</h1>
                </section>
                <section>
                    <p>http://localhost:3001/#/home</p>
                    <img src="img/home.jpg" alt="#/home"/>
                </section>
                <section>
                    <p>http://localhost:3001/#/movies</p>
                    <img src="img/movies.jpg" alt="#/movies"/>
                </section>
                <section>
                    <p>http://localhost:3001/#/movies/edit/1</p>
                    <img src="img/editmovie.jpg" alt="#/movies/edit/1"/>
                </section>

                <section>
                    <h2>Service <code>$routeProvider</code></h2>
                    <p>Permet de configurer le template HTML à charger avec son contrôleur associé pour une URL donnée</p>
                    <pre><code class="javascript" contenteditable>
$routeProvider
    .when('/route1', {
      templateUrl: 'path/to/view1.html',
        controlgiler : 'view1Controller'
    })
    .when('/route2', {
        templateUrl: 'path/to/view2.html',
        controller : 'view2Controller'
    })
    .otherwise({
        redirectTo: '/route1'
    });
                    </code></pre>

                </section>

                <section>
                    <h2>Où l'injecter ?</h2>
                    <p>Dans la factory config de votre module</p>
                    <pre><code class="javascript" contenteditable>
/* Dans le fichier de définition de votre module app.js*/
var angularMovieApp = angular.module('angularMovieApp', []);

angularMovieApp.config(function($routeProvider) {
    /* routes configurations */
});
                    </code></pre>

                </section>

                <section>
                    <p>A utiliser avec la directive <code>ng-view</code></p>
                    <pre><code class="html">
&lt;body&gt;
    &lt;header&gt;
        /* Common part for all pages.*/
    &lt;/header&gt;
    &lt;section ng-view&gt;
        /* this is the dynamic part */
    &lt;/section&gt;
    &lt;footer&gt;
        /* Common part for all pages.*/
    &lt;/footer&gt;
&lt;/body&gt;
                    </code></pre>
                    <p>Attention : Vous ne pouvez utiliser qu'une seule directive ng-view</p>
                </section>

                <section class="question">
                    <h2>Exercice 6 : Une navigation côté client</h2>
                    <p>La navigation d'une page à l'autre peut être améliorée. Utiliser le service <code>$routeProvider</code>
                        et la directive <code>ng-view</code> pour ne garder qu'un fichier index.html
                    </p>
                    <ul>
                        <li>Identifier dans votre page index.html les portions qui sont communes à toutes les pages et la partie spécifique</li>
                        <li>Créer un répertoire app/partials où stocker les fragments de page spécifique</li>
                        <li>Utiliser soit l'attribut <code>controller</code> du service <code>$routeProvider</code>, soit la directive <code>ng-controller</code></li>
                        <li>Penser à corriger les attributs <code>href</code> des liens de la barre de menu supérieure</li>
                    </ul>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-5</code></p>
                </section>

                <section class="question">
                    <h2>Exercice 7 : Supprimer un film</h2>
                    <p><code>git checkout -f step-5-delete</code></p>
                    <p>Un bouton de suppression vient d'être ajouté pour chaque film. Implémentez son action</p>
                    <ul>
                        <li>API : <code>DELETE /server/api/movies/:id </code></li>
                        <li>Astuce : Vous pouvez accéder au numéro d'index courant de la collection dans ng-repeat via $index</li>
                        <li class="help-js">Utiliser la méthode <code>array.splice(from, nbToDelete)</code> pour retirer le film de <code>$scope.movies</code></li>
                    </ul>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-5-delete-solution</code></p>
                </section>

                <section class="question">
                    <h2>Exercice 8 : Modifier un film</h2>
                    <p><code>git checkout -f step-5-edit</code></p>
                    <p>Un bouton de modification vient d'être ajouté pour chaque film. Implémentez son action</p>
                    <ul>
                        <li>Petite contrainte : Pas de popup. La page d'édition doit être accessible via l'url <code>/#/movies/edit/:id</code></li>
                        <li>Utiliser un nouveau fichier HTML pour la page d'édition et lui affecter un nouveau controller</li>
                        <li>API : <code>PUT /server/api/movies</code></li>
                        <li>Utiliser le service <code>$routeParams </code> dans le controller pour récupérer l'id du film à modifier</li>
                        <li>Utiliser le service <code>$location.path('/path')</code> pour naviguer vers <code>/#/path</code></li>
                    </ul>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-5-edit-solution</code></p>
                </section>

            </section>


            <section>
                <section>
                    <h2>Récapitulatifs</h2>
                    <ul>
                        <li class="fragment">Double Data Binding
                            <ul>
                                <li><code>$scope</code> : seule source de vérité</li>
                                <li>Elimination du code de manipulation du DOM <p>(60 à 80% de votre code applicatif)</p></li>
                            </ul>
                        </li>

                        <li class="fragment">Modèle Vue Contrôleur
                            <ul>
                                <li>Modèle = simple object javascript</li>
                                <li>Vue = HTML valide</li>
                                <li>Contrôleur = fonction javascript</li>
                            </ul>
                        </li>

                        <li class="fragment">Single Page Application
                            <ul>
                                <li>Navigation client side</li>
                                <li>Agnostique au Back end</li>
                            </ul>
                        </li>

                    </ul>
                </section>

                <section>
                    <h2>Vers des concepts plus avancées</h2>
                </section>
            </section>

            <section>
                <section>
                    <h1>Créer votre propre service</h1>
                    <p class="fragment">Fournit des tâches spécifiques à l'application</p>
                    <p class="fragment">Exemple : $scope, $http</p>
                </section>

                <section>
                    <h2>Créer ses propres services</h2>
                        <pre><code class="javascript" contenteditable>
myModuleApp.factory("CountService", function (dep1, dep2, ...) {

    // privée
    var counter = 0;

    // publique
    return {
        increment : function(){
            counter = counter + 1;
        };
    };
});
                        </code></pre>

                        <pre class="fragment"><code class="javascript" contenteditable>
function myController($scope, CountService){
    CountService.increment();
};
                        </code></pre>
                </section>

                <section class="question">
                    <h2>Exercice 9 : Créer votre propre service</h2>
                    <p>Actuellement, nous utilisons le service $http en l'injectant dans les controllers et nous dupliquons à chaque fois l'url de l'API. Améliorons ceci en créant notre propre service pour nous connecter au back end pour les opérations de CRUD sur les films.</p>
                    <ul>
                        <li>Appelons ce service <code>Movies</code></li>
                        <li>Par exemple, dans le contrôleur, au lieu d'appeler <code>$http.get("/server/api/movies")</code>, j'aimerai appeler <code>Movies.fetch();</code></li>
                        <li>De manière analogue, idem pour les autres opérations CRUD</li>
                    </ul>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-7</code></p>
                </section>

            </section>

            <section>
                <section>
                    <h1>Filtres AngularJS</h1>
                    <p>Formate les données avant de les afficher</p>
                </section>
                <section>
                    <p>hello</p>
                    <p class="fragment">HELLO</p>
                </section>
                <section>
                    <p>1368730200</p>
                    <p class="fragment">Jeudi 16 mai 2013 20H50</p>
                </section>
                <section>
                    <p>1234.562342</p>
                    <p class="fragment">1 234,56 €</p>
                </section>
                <section data-transition="default">
                    <p>[Thierry, David, Nelly, Alex, Claire]</p>
                    <p class="fragment">[Alex, Claire, David, Nelly, Thierry]</p>
                </section>
                <section data-transition="default">
                    <p>[pommes, pâtes, farine, PQ]</p>
                    <p class="fragment">[PQ]</p>
                </section>
                <section data-transition="default">
                    <h2>Transformer la donnée avant de l'afficher à l'utilisateur</h2>
                </section>

                <section>
                   <pre><code class="javascript">
$scope.amount = 1234.56;
                   </code></pre>
                   <pre class="fragment"><code class="html">
&lt;div&gt;{{amount}}&lt;/div&gt;                     1234.56
                   </code></pre>
                   <pre class="fragment"><code class="html">
&lt;div&gt;{{amount | currency}}&lt;/div&gt;           $1,234.56
                   </code></pre>
                   <pre class="fragment"><code class="html">
&lt;div&gt;{{amount | currency:"USD$"}}&lt;/div&gt;    USD$1,234.56
                   </code></pre>
                </section>
                <section>
                    <h2>Filtres AngularJS</h2>
                    <ul>
                        <li>currency</li>
                        <li>date</li>
                        <li>lowercase</li>
                        <li>uppercase</li>
                        <li>limitTo</li>
                        <li class="fragment grow">filter</li>
                        <li class="fragment grow">orderBy</li>
                    </ul>
                </section>

                <section>
                    <h2>Filtre <code>filter</code></h2>
                    <p>Permet de filtrer un sous ensemble d'une collection et retourne ce sous ensemble.</p>
                    <pre><code class="html" contenteditable>
&lt;div&gt;{{collection | filter:predicat}}&lt;/div&gt;
                    </code></pre>
                    <p>Ce filtre accepte un predicat (string) en argument. Toute chaine de caractère ou propriété qui contient ce prédicat sera retournée dans une nouvelle collection.</p>
                </section>

                <section class="question">
                    <h2>Exercice 10 : Rechercher un film</h2>
                    <p><code>git checkout -f step-8</code></p>
                    <p>Une barre de recherche est disponible. Implémentez une fonction de recherche en utilisant le filtre <code>filter</code></p>
                    <ul>
                        <li>Tirez partie du data-binding</li>
                        <li>Pas de code nécessaire dans le controller, seulement dans la page HTML</li>
                    </ul>
                </section>


                <section>
                    <h2>Filtre <code>orderBy</code></h2>
                    <p>Tri une collection selon un predicat</p>
<pre><code class="html" contenteditable>
   &lt;div&gt;{{collection | orderBy:predicat:reverse}}&lt;/div&gt;
</code></pre>
                    <p>Ce filtre accepte un predicat (string) en argument. Ce prédicat désigne la propriété sur lequel est fait le tri.
                        Un deuxième argument (boolean) permet d'inverser le sens du tri</p>
                </section>


                <section class="question">
                    <h2>Exercice 11 : Trier les films par année et par titre</h2>
                    <p>2 boutons de tri sont disponibles. Utilisez le filtre <code>orderBy</code> pour implémentez les tris correspondants</p>
                    <ul>
                        <li>Tirez partie du data-binding</li>
                        <li>Les filtres peuvent être chaînés</li>
                        <li>Pas de code nécessaire dans le controller, seulement dans la page HTML</li>
                    </ul>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-8-solution</code></p>
                </section>

                <section>
                    <h2>Créer ses propres filtres</h2>
                        <pre><code class="javascript" contenteditable>
angularMovieApp.filter('greet', function () {

    return function(inputValue, arg1, arg2, ....) {

        return 'Hello ' + inputvalue;

    };

});
                        </code></pre>
                        <pre><code class="html" contenteditable>
&lt;div&gt;{{name | greet}}&lt;/div&gt;
&lt;div&gt;{{name | greet:arg1:arg2}}&lt;/div&gt;
                        </code></pre>
                </section>

                <section class="question">
                    <h2>Exercice 12 : Je veux de vraies étoiles</h2>
                    <p><code>git checkout -f step-9</code></p>
                    <p>Créer un filtre permettant d'afficher le nombre d'étoiles correspondant à la note.</p>
                    <ul>
                        <li>Voici la caractère unicode pour une étoile : "\u2605"</li>
                        <li>Créez le filtre dans un nouveau fichier filters.js</li>
                    </ul>
                </section>

                <section class="question">
                    <h2>Exercice 13 : Une image vide par défault</h2>
                    <p>Dans le répertoire img, se trouve une image no-poster.jpg. Créer un filtre qui affiche cette image lorsqu'aucun poster n'est disponible pour un film.</p>
                    <ul>
                        <li>Mmmmhh, sur quoi vais-je appliquer le filtre ?</li>
                    </ul>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-9-solution</code></p>
                </section>


            </section>

            <section>
                <section>
                    <h1>Directives AngularJS</h1>
                </section>
                <section>
                    <h2>Permet de : </h2>
                    <p>Etendre le langage HTML</p>
                    <p>Créer ses propres composants</p>
                </section>

                <section>
                    <h2>Directive ng-switch</h2>
                    <p>Change la structure du DOM de manière conditionnel</p>
                    <pre><code class="html">
&lt;section ng-switch on="value"&gt;
    &lt;div ng-switch-when="one"&gt;Valeur1&lt;/div&gt;
    &lt;span ng-switch-when="two"&gt;Valeur2&lt;/span&gt;
    &lt;div ng-switch-default &gt;Default&lt;/div&gt;
&lt;/section&gt;
                    </code></pre>
                </section>


                <section class="question">
                    <h2>Exercice 14 : Une liste de films plus compacte</h2>
                    <p><code>git checkout -f step-10</code></p>
                    <p>Vous allez permettre à l'utilisateur de basculer vers une vue plus compacte de la liste des films.</p>
                    <ul>
                        <li>Un bouton vient d'être rajouté.</li>
                        <li>Utiliser la directive <code>ng-switch</code></li>
                        <li>Tirez partie du data-binding</li>
                        <li>Aidez vous du snippet de code de la slide suivante pour une vue en mode tableau</li>
                    </ul>
                </section>

                <section>
                    <pre><code class="javascript" contenteditable>
&lt;table class="table table-striped"&gt;
    &lt;thead&gt;
    &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;Titre&lt;/th&gt;
        &lt;th&gt;Réalisateur&lt;/th&gt;
        &lt;th&gt;Année de sortie&lt;/th&gt;
        &lt;th&gt;Note&lt;/th&gt;
    &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
    &lt;tr ng-repeat="movie in movies | orderBy:tri:reverse | filter : search "&gt;
        &lt;td&gt;{{$index + 1}}&lt;/td&gt;
        &lt;td&gt;{{movie.title}}&lt;/td&gt;
        &lt;td&gt;{{movie.directors}}&lt;/td&gt;
        &lt;td&gt;{{movie.releaseYear}}&lt;/td&gt;
        &lt;td&gt;{{movie.rate | stars}}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
                    </code></pre>
                </section>

                <section class="answer">
                    <h2>Solution</h2>
                    <p><code>git checkout -f step-10-solution</code></p>
                </section>

                <section>
                    <h2>Directives vues</h2>
                    <ul>
                        <li>ng-repeat</li>
                        <li>ng-model</li>
                        <li>ng-controller</li>
                        <li>ng-switch</li>
                    </ul>
                </section>

                <section>
                    <h2>Plusieurs types d'invocations possibles</h2>
                    <pre><code class="html">
    &lt;div navbar &gt;&lt;/div&gt;
                    </code></pre>
                     <pre><code class="html">
    &lt;navbar&gt;&lt;/navbar&gt;
                     </code></pre>
                     <pre><code class="html">
    &lt;div class="navbar" &gt;&lt;/div&gt;
                     </code></pre>
                     <pre><code class="html">
    &lt;!-- directive : navbar --&gt;
                     </code></pre>
                </section>

                <section>
                    <img src="img/tabs.png" height="300px" alt="Tabs"/>
                    <pre class="fragment" ><code class="html">
    &lt;ul class="nav-tabs"&gt;
        &lt;li class="active"&gt;
            &lt;a href="#"&gt;Primary tab&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="#"&gt;Primary tab&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="#"&gt;Primary tab&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
                    </code></pre>
                </section>

                <section>
                    <img src="img/tabs.png" height="300px" alt="Tabs"/>
                    <pre><code class="html">
    &lt;tabs&gt;
        &lt;pane title="Primary tab" active&gt;
            &lt;!-- contenu --&gt;
        &lt;/pane&gt;
        &lt;pane title="Secondary tab"&gt;
            &lt;!-- contenu --&gt;
        &lt;/pane&gt;
        &lt;pane title="some other tab"&gt;
            &lt;!-- contenu --&gt;
        &lt;/pane&gt;
    &lt;/tabs&gt;
                    </code></pre>
                </section>

                <section>
                    <h2>Libérez votre imagination</h2>
                    <pre><code class="html">
        &lt;calendar&gt;&lt;/calendar&gt;
                    </code></pre>
                    <pre><code class="html">
        &lt;progress-bar&gt;&lt;/progress-bar&gt;
                    </code></pre>
                    <pre><code class="html">
        &lt;dialog&gt;&lt;/dialog&gt;
                    </code></pre>
                    <pre><code class="html">
        &lt;datepicker&gt;&lt;/datepicker&gt;
                    </code></pre>
                    <pre><code class="html">
        &lt;accordion&gt;&lt;/accordion&gt;
                    </code></pre>
                </section>

                <section>
                    <h2>Créer ses propres directives</h2>
                    <ul>
                        <li>Scope</li>
                        <li>Linking function</li>
                        <li>Compile</li>
                        <li>Restriction</li>
                        <li>Transclusion</li>
                    </ul>
                </section>

                <section>
                    <img src="img/wtf.gif" height="400px" alt="WTF !!!"/>
                </section>

                <section>
                    <h2>Créer votre propre directive</h2>
                       <pre><code class="javascript" contenteditable>
myModuleApp.directive("MaDirective", function (dep1, dep2) {
    return {
        template : "&lt;div&gt;&lt;/div&gt;",
        templateUrl : "/path/to/ma-directive.html",
        replace : true,
        restrict : 'E,A,C,M',
        transclude : true,
        scope : {},
        link : function(scope, element, attributes){

        }
    };
});
                       </code></pre>
                </section>

                <section>
                    <h1>{{ demo }}</h1>
                </section>

            </section>

            <section>
                <section>
                    <h1>Outils autour d'AngularJS</h1>
                </section>

                <section>
                    <h2>Batarang</h2>
                    <a href="https://chrome.google.com/webstore/detail/angularjs-batarang/ighdmehidhipcmcojjgiloacoafjmpfk"><img src="img/batarang.png" alt=""></a>
                </section>

                <section>
                    <h2>Yeoman</h2>
                    <a href="http://yeoman.io/"><img src="img/yeoman.png" alt=""></a>
                </section>

                <section>
                    <h2>Karma (Testacular)</h2>
                    <a href="http://karma-runner.github.com/0.8/index.html"><img src="img/karma.png" alt=""></a>
                </section>

                <section>
                    <h2>Plugin Intellij / webstorm</h2>
                    <a href="http://plugins.jetbrains.com/plugin?pr=&pluginId=6971"><img src="img/pluginidea.png" alt=""></a>
                </section>

                <section>
                    <h2>AngularUI</h2>
                    <a href="http://angular-ui.github.com/"><img src="img/angularui.png" alt=""></a>
                </section>

                <section>
                    <h2>AngularStrap</h2>
                    <a href="http://mgcrea.github.com/angular-strap/"><img src="img/angularstrap.png" alt=""></a>
                </section>
            </section>

            <section>
                <section>
                    <h1>Ressources</h1>
                </section>
                <section>
                    <ul>
                        <li><a href="http://docs.angularjs.org/tutorial">Tutorial Officiel</a></li>
                        <li class="fragment"><a href="http://www.youtube.com/user/angularjs">Chaîne Youtube AngularJS Officiel</a></li>
                        <li class="fragment"><a href="http://www.yearofmoo.com/tags/AngularJS.html">Year Of Moo</a></li>
                        <li class="fragment"><a href="http://www.frangular.com/">AngularFR</a> , par Thierry Chatel</li>
                        <li class="fragment"><a href="http://www.itaware.eu/tag/angularjs/">I.T Aware</a> , par Sébastien Letélié</li>
                        <li class="fragment"><a href="http://egghead.io/">egghead.io</a> Plein de vidéos réalisées par John Lindquist</li>
                        <li class="fragment"><a href="https://plus.google.com/communities/109984348857296908402?hl=fr">Communauté Google+ française AngularJS</a></li>
                    </ul>
                </section>
            </section>

            <section>
                <section>
                    <h1>Pourquoi AngularJS ?</h1>
                </section>
                <section>
                    <ul>
                        <li>Beaucoup moins de code à écrire grâce au data-binding bi-directionnel</li>
                        <li class="fragment">Modularisation du code avec les modules et les services injectables : Pas de pollution de
                            l'espace global
                        </li>
                        <li class="fragment">AngularJS peut être actif sur une portion de la page HTML</li>
                        <li class="fragment">Créer ses propres composants réutilisable grâce aux directives</li>
                        <li class="fragment">Développement guidée</li>
                        <li class="fragment">Framework qui promeut les tests unitaires</li>
                        <li class="fragment">API bien documentée pour certains aspects</li>
                        <li class="fragment"><a href="http://docs.angularjs.org/tutorial">Excellent tutorial pour débuter</a></li>
                    </ul>
                </section>

                <section>
                    <h2>Difficultés</h2>
                </section>
                <section>
                    <ul>
                        <li>Documentation officielle pauvre sur certaines notions</li>
                        <li class="fragment">Ecriture des directives pouvant être compliquée si on ne maîtrise pas son cycle de vie</li>
                        <ul class="fragment">
                            <li>Compilation</li>
                            <li>Link</li>
                            <li>Transclusion</li>
                            <li>Restriction</li>
                        </ul>
                        <li class="fragment">Le data-binding bi-directionnel ne fonctionne pas hors du "monde" AngularJS. Il faut utiliser
                            <code>$scope.$watch()</code> et <code>$scope.$apply()</code> pour surveiller et mettre à jour manuellement une valeur
                        </li>
                        <li class="fragment">Intégration librairies UI jQuery pouvant être problématique</li>
                        <ul class="fragment">
                            <li>Je la wrappe dans une directive ?</li>
                            <li>... ou je crée une directive ?</li>
                        </ul>
                    </ul>
                </section>
            </section>

            <section>
                <h3>Merci de votre attention !</h3>
                <p>Thierry Lau - <a href="https://twitter.com/laut3rry">@laut3rry</a></p>
                <p>Sébastien Letélié - <a href="https://twitter.com/sebmade‎">@sebmade</a></p>
                <p>Thierry Chatel - <a href="https://twitter.com/ThierryChatel‎">@ThierryChatel</a></p>
            </section>

			</div>

		</div>


        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
